---
const { person, image, message } = Astro.props;
---

<div class="desktop:max-w-lg desktop:flex w-full max-w-sm shadow-lg">
  <div
    class="desktop:h-auto desktop:w-48 desktop:rounded-t-none desktop:rounded-l h-48 flex-none overflow-hidden rounded-t bg-cover text-center"
    style={`background-image: url('/photos/${image} ')`}
    title="Woman holding a mug"
  >
  </div>
  <div
    class="desktop:border-l-0 desktop:border-t desktop:border-gray-400 desktop:rounded-b-none desktop:rounded-r flex flex-col justify-between rounded-b border-b border-l border-r border-gray-400 bg-white p-4 leading-normal"
  >
    <div class="mb-8">
      <p class="flex items-center text-sm text-gray-600">♥ Solo para ti</p>
      <div class="mb-2 text-xl font-bold text-gray-900">
        Mensaje de {person}
      </div>
      <p class="text-base text-gray-700">
        {message}
      </p>
    </div>
  </div>
</div>
