---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Countdown from "@/sections/Countdown.astro";
import PrincipalDate from "@/sections/PrincipalDate.astro";
import Party from "@/sections/Party.astro";
import Intro from "@/sections/Intro.astro";
import "../styles/index.css"; // Estilos globales
---

<Layout title="Cumple de Galia">
    <div id="intro-section">
        <Intro />
    </div>

    <div id="main-content" class="hidden">
        <Hero />
        <section class="p-4">
            <Countdown />
            <PrincipalDate />
            <Party />
        </section>
    </div>
</Layout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const enterButton = document.getElementById('enter-button');
        const introSection = document.getElementById('intro-section');
        const mainContent = document.getElementById('main-content');

        if (enterButton && introSection && mainContent) {
            enterButton.addEventListener('click', () => {
                introSection.style.animation = 'fadeOut 0.8s forwards';
                setTimeout(() => {
                    introSection.classList.add('hidden');
                    mainContent.classList.remove('hidden');
                    mainContent.style.animation = 'fadeIn 1s forwards';
                    mainContent.classList.add('visible');
                }, 700);
            });
        } else {
            console.error("Uno o más elementos necesarios no se encontraron.");
        }
    });
</script>