---
import Divider from "@/components/Divider.astro";
import Title from "@/components/Title.astro";
import "../styles/Countdown.css";

// Set the date to May 10, 2025 at 13:00 (1 PM)
const TIMESTAMP_END = new Date('2025-05-10T13:00:00').getTime();
---

<section class="countdown-section max-w-6xl desktop:px-16 pt-20 pb-10 text-center mx-auto flex flex-col items-center justify-center">
    <Title title="Falta" />
    <div data-date={TIMESTAMP_END} class="countdown-container">
        <div class="countdown-unit">
            <span data-days class="countdown-number">00</span>
            <span class="countdown-label">DÍAS</span>
        </div>

        <div class="countdown-unit">
            <span data-hours class="countdown-number">00</span>
            <span class="countdown-label">HS</span>
        </div>

        <div class="countdown-unit">
            <span data-minutes class="countdown-number">00</span>
            <span class="countdown-label">MIN</span>
        </div>
        
        <div class="countdown-unit">
            <span data-seconds class="countdown-number">00</span>
            <span class="countdown-label">SEG</span>
        </div>
    </div>
    <Divider />
</section>

<script>
    const SECOND = 1000; //1000ms
    const MINUTE = SECOND * 60; // 60s -> 60000ms
    const HOUR = MINUTE * 60; // 60m -> 3600s -> 360000ms
    const DAY = HOUR * 24;
    
    function init() {
        const $countdown = document.querySelector("[data-date]");
        if (!$countdown) return;
        const $days = $countdown.querySelector("[data-days]");
        const $hours = $countdown.querySelector("[data-hours]");
        const $minutes = $countdown.querySelector("[data-minutes]");
        const $seconds = $countdown.querySelector("[data-seconds]");

        const timestamp = $countdown.getAttribute("data-date");
        if (!timestamp) return;

        const date = new Date(+timestamp).getTime();

        const formatTime = (time: number) => {
            return Math.floor(time).toString().padStart(2, "0");
        };

        function updateCountdown() {
            const now = Date.now();
            const diff = date - now;

            if ($days instanceof HTMLElement) {
                $days.innerText = formatTime(diff / DAY);
            }
            if ($hours instanceof HTMLElement) {
                $hours.innerText = formatTime((diff % DAY) / HOUR);
            }
            if ($minutes instanceof HTMLElement) {
                $minutes.innerText = formatTime((diff % HOUR) / MINUTE);
            }
            if ($seconds instanceof HTMLElement) {
                $seconds.innerText = formatTime((diff % MINUTE) / SECOND);
            }
        }

        updateCountdown(); // Run immediately once
        setInterval(updateCountdown, SECOND);
    }
    
    init();
</script>
