<div>
    <img src="/hero.webp" id="parrallax-hero" alt="hero-parallax" />
</div>
<section
    class="greater-desktop:h-screen desktop:h-[670px]  h-[670px] hero-section desktop:w-full w-full flex justify-center items-center bg-fixed bg-hero-pattern bg-cover bg-no-repeat bg-center"
>
    <div
        class="info-hero z-50 flex flex-col justify-center items-center absolute text-center mx-auto greater-desktop:max-w-3xl desktop:max-w-xl  max-w-80 h-[670px]"
    >
        <div>
            <span
                class="date-hero w-full table text-2xl desktop:text-xl  greater-desktop:text-2xl text-color02 mb-12 font-rubik font-semibold"
            >
                10.08.2024
            </span>
            <h1
                class="married-hero   custom-hero border-b-[1px] pb-8 border-b-white text-6xl greater-desktop:text-8xl text-color02 font-parisienne flex flex-col"
            >
                Johan

                <span> & </span>
                Dahiana
            </h1>
            <div
                class="text-center flex justify-center items-center flex-col mt-7 gap-5"
            >
                <img src="/mark_open.svg" class="w-10" />
                <p class="text-xl greater-desktop:text-2xl font-rubik text-color02">
                    Nuestro amor no es como el de las novelas, escritas por manos humanas; el nuestro lo está escribiendo Dios.
                </p>
                <img src="/mark_close.svg" class="w-10" />
            </div>
        </div>
        <div class="flex justify-center mt-5 items-center">
            <img src="/arrow_down.gif" class="w-14 desktop:w-20" alt="" />
        </div>
    </div>
</section>
<style>
    .date-hero::before,
    .date-hero::after {
        border-top: 1px solid white;
        content: "";
        display: table-cell;
        position: relative;
        top: 0.7em;
        width: 25%;
    }
    #parrallax-hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 725px;
        object-fit: cover;

    }

    .hero-section::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 725px;
        background-color: rgba(29, 29, 27, 0.2);
        z-index: 0;
        top: 0;
        left: 0;
    }
    @media (min-width: 993px) {
        #parrallax-hero {
            height: 725px;
        }
        .hero-section::before {
            height: 725px;
        }
    }
    @media (min-width: 1745px) {
        #parrallax-hero {
            height: 100vh;
        }
        .hero-section::before {
            height: 100vh;
        }
    }
</style>
