---
import "../styles/hero.css";
---

<section
    class="greater-desktop:h-screen desktop:h-[670px] h-[670px] hero-section desktop:w-full w-full flex justify-center items-center bg-fixed bg-cover bg-no-repeat bg-center"
>
    <div class="hero-background-container">
        <img src="/herogalia.gif" id="parallax-hero" alt="hero-parallax" />
    </div>
    
    <div class="info-hero">
        <div class="hero-content">
            <div class="hero-name">Soy Galia</div>
            <h1 class="married-hero">
                Festejo Mi
                <span>Primer Añito</span>
            </h1>
            <div class="date-hero">
                10 de Mayo de 2024
            </div>
            <div class="quote-container">
                <img src="/mark_open.svg" alt="Quote open" />
                <p>
                    Me encantaría que vinieras a celebrar mi primer año. ¡Será especial contigo!
                </p>
                <img src="/mark_close.svg" alt="Quote close" />
            </div>
        </div>
        <div class="scroll-indicator">
            <img src="/arrow_down.gif" alt="Scroll down" />
        </div>
    </div>
</section>
