---
import IntroGallery from '@/components/IntroGallery.tsx';
import '../styles/css/sections/Intro.css';
---

<main id="intro" class="intro-section">
  <div class="mt-16">
    <IntroGallery />
  </div>
</main>
