---
import CardParty from "@/components/CardParty.jsx";
import Divider from "@/components/Divider.astro";
import Title from "@/components/Title.astro";
import "../styles/party.css";
---

<section class="party-section">
    <div
        class="max-w-[1140px] phone:w-full phone:px-2 mx-auto mb-12 mt-12 desktop:mb-14 desktop:mt-24 text-color01 flex gap-3 justify-center items-center flex-col"
    >
        <div class="party-title">
            <Title title="Mi Fiesta" />
        </div>
        <span
            class="font-rubik desktop:text-xl text-center font-medium text-gray-500"
        >
            ¡Estoy muy emocionada por compartir mi primer añito contigo!
        </span>
    </div>
    <div
        class="max-w-[1240px] phone:w-full phone:px-2 mx-auto mb-12 desktop:mb-14 desktop:mt-16 flex gap-3 justify-center items-center flex-col"
    >
        <div
            class="party-cards-container"
        >
            <CardParty
                guid="1"
                title="Envíame un Mensaje"
                icon="enviarmensaje"
                description="¿Quieres dejarme un mensaje especial para el día de mi fiesta? ¡Me encantaría leerlo!"
                buttonText="Enviar mensaje"
                buttonClassName="party-card-button"
                client:load
            />
            <CardParty
                guid="2"
                title="Datos Sobre Mí"
                icon="sobremi"
                description="¿Quieres conocer un poco más sobre mí? ¡Descubre mis gustos y lo que me hace feliz!"
                buttonText="Conocer más"
                buttonClassName="party-card-button"
                client:load
            />
        </div>
    </div>
</section>
<Divider />
