---
import Divider from "@/components/Divider.astro";
import AsistenciaModal from "@/components/AsistenciaModal"; // Importamos el .tsx
import "../styles/PrincipalDate.css";
---

<section class="principal-date-section">
    <div class="principal-date-container">
        <div class="flower-decoration">
            <img src="/daisy.svg" class="flower-icon" alt="icono margarita" />
        </div>

        <div class="title-container">
            <h3 class="birthday-title">¡Galia cumple 1 añito!</h3>
        </div>

        <div class="info-grid">
            <div class="info-card">
                <div class="info-card-inner">
                    <p class="info-label">Cuándo</p>
                    <span class="info-value">
                        Sábado 10 de mayo de 2025 - 13:00 hs
                    </span>
                    <a
                        href="https://calendar.app.google/8n2HQ1SNYk4jMCJcA"
                        target="_blank"
                        class="action-button calendar-button"
                    >
                        <span class="button-icon">📅</span>
                        <span class="button-text">Agendar</span>
                    </a>
                </div>
            </div>

            <div class="info-card">
                <div class="info-card-inner">
                    <p class="info-label">Dónde</p>
                    <span class="info-value">
                        Club Ciclista Juanico, Calle San Marcos
                    </span>
                    <a href="https://maps.app.goo.gl/nB1U1MJTKiEXN33A6" target="_blank" class="action-button location-button">
                        <span class="button-icon">📍</span>
                        <span class="button-text">¿Cómo llegar?</span>
                    </a>
                </div>
            </div>

            <div class="info-card">
                <div class="info-card-inner">
                    <p class="info-label">Confirma asistencia</p>
                    <span class="info-value">
                        Me gustaría que confirmes tu asistencia
                    </span>
                    <div class="modal-wrapper">
                        <AsistenciaModal type="cumpleaños" client:visible />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<Divider />

<script
    type="text/javascript"
    src="https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js"
    async
    defer></script>