---
import Divider from "@/components/Divider.astro";
import AsistenciaModal from "@/components/AsistenciaModal.jsx";
import "../styles/PrincipalDate.css";
---

<section class="principal-date-section max-w-6xl desktop:mx-auto mx-4 text-center flex flex-col items-center">
  <div class="w-full">
    <img src="/daisy.svg" class="flower-icon" alt="icono margarita" />
    <div class="title-container">
      <h3 class="birthday-title">¡Galia cumple 1 añito!</h3>
    </div>
    
    <div class="info-grid">
      <div class="info-card">
        <p class="info-label">Cuándo</p>
        <span class="info-value">
          Sábado 10 de mayo de 2025 - 13:00 hs
        </span>
        <a
          href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MXN1cmxrYWFpM2Zia3VtNzBncGo4cHZiNW0gbXByZXN0ZXNAZG9jZW50ZS5jZWliYWwuZWR1LnV5&tmsrc=mprestes%40docente.ceibal.edu.uy"
          target="_blank"
          class="action-button"
        >
          Agendar
        </a>
      </div>
      
      <div class="info-card">
        <p class="info-label">Dónde</p>
        <span class="info-value">
          Club Ciclista Juanico, Calle San Marcos

        </span>
        <a href="https://maps.app.goo.gl/nB1U1MJTKiEXN33A6" target="_blank" class="action-button">
          ¿Cómo llegar?
        </a>
      </div>
      
      <div class="info-card">
        <p class="info-label">Confirma asistencia</p>
        <span class="info-value">
          Me gustaria que confirmes tu asistencia
        </span>
        <AsistenciaModal type="cumpleaños" />
      </div>
    </div>
  </div>
</section>

<Divider />

<script
  type="text/javascript"
  src="https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js"
  async
  defer></script>
