---
import Divider from "@/components/Divider.astro";
import AsistenciaModal from "@/components/AsistenciaModal.jsx";
---

<section
    class="max-w-6xl desktop:mx-auto mx-4 text-center flex gap-20 desktop:gap-10 flex-wrap justify-center items-center"
>
    <div class="desktop:w-[45%]">
        <img src="/ceremonia.gif" class="w-32 mx-auto" alt="icono ceremonia" />
        <div class="title-pd py-4">
            <h3 class="font-parisienne text-5xl text-color01">Ceremonia</h3>
        </div>
        <ul>
            <li>
                <p class="text-[28px] text-[#6F6F6E] font-medium">Día</p>
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    Sábado 10 de Agosto - 15hs
                </span>
                <a
                    data-id="NL21835056"
                    href="https://www.addevent.com/event/NL21835056"
                    target="_blank"
                    class="bg-color01 text-color02 py-3 rounded-3xl"
                >
                    Agendar
                </a>
            </li>
            <li>
                <p class="text-[28px] text-[#6F6F6E] font-medium">Lugar</p>
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    Santuario Virgen de los Dolores Chancay
                </span>
                <!--
                <button class="bg-color01 text-color02 py-3 rounded-3xl">
                    Confirmar asistencia
                </button>
                 -->
                <AsistenciaModal type={"ceremonia"} client:load />
            </li>
            <li>
                <p class="text-[28px] text-[#6F6F6E] font-medium">Direción</p>
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    Benjamin vizquerra 246, Chancay
                </span>
                <a href="https://maps.app.goo.gl/LezD8nup4WhehP8d8" target="_blank" class="bg-color01 text-color02 py-3 rounded-3xl">
                    ¿Cómo llegar?
                </a>
            </li>
        </ul>
    </div>
    <div class="desktop:w-[45%]">
        <img src="/celebration.gif" class="w-32 mx-auto" alt="" />
        <div class="title-pd py-4">
            <h3 class="font-parisienne text-5xl text-color01">Civil & Fiesta</h3>
        </div>
        <ul>
            <li>
                <p class="text-[28px] text-[#6F6F6E] font-medium">Día</p>
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    Sábado 10 de Agosto - 16:30hs
                </span>

                <a
                    data-id="TK21835117"
                    href="https://www.addevent.com/event/TK21835117"
                    target="_blank"
                    class="bg-color01 text-color02 py-3 rounded-3xl"
                >
                    Agendar
                </a>
            </li>
            <li>
                <p class="text-[28px] text-[#6F6F6E] font-medium">Lugar</p>
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    Hermandad del señor de la Agonia
                </span>
                <AsistenciaModal type={"celebración"} client:load />
            </li>
            <li>
                <p class="text-[28px] text-[#6F6F6E] font-medium">Dirección</p>
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    Benjamin Vizquerra s/n esquina con ayacucho, Chancay
                </span>
                <a href="https://maps.app.goo.gl/yjfdFfyKKLoKU1N36" target="_blank" class="bg-color01 text-color02 py-3 rounded-3xl">
                    ¿Cómo llegar?
                </a>
            </li>
        </ul>
    </div>
</section>
<Divider />
<script
    type="text/javascript"
    src="https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js"
    async
    defer></script>
<style>
    .title-pd {
        border-top: 1px solid #c6c6c5;
        border-button: 1px solid #c6c6c5;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    li {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    button {
        @apply w-[280px];
        @apply desktop:w-[200px];
        @apply mx-auto;
    }
    a {
        @apply w-[280px];
        @apply desktop:w-[200px];
        @apply mx-auto;
    }
    a:hover {
        background-color: rgb(195 128 11 / 73%);
        @apply animate-pulsing;
    }
    button:hover {
        background-color: rgb(195 128 11 / 73%);
        @apply animate-pulsing;
    }
</style>
