---
import Loader from "@/components/Loader.jsx";
import "@fontsource/parisienne";
interface Props {
	title: string;
}
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/raleway";
import "@fontsource/parisienne";
import "@fontsource-variable/rubik";
import "../styles/layout.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Invitación para el cumple de Galia"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Loader client:load />
		<div class="background-decoration"></div>
		<slot />
	</body>
</html>
