<div class="divider"></div>
<style>
  .divider {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin: 2rem auto;
    width: 80%;
    height: 120px;
    background-image: url('/divider.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  .divider:hover {
    opacity: 1;
  }
</style>
